//============================
//		Text aligin
//============================

// breackpoint
$breakpoint: (
	1: none,
	2: 768px,
	3: 992px,
	4: 1200px
);

// prefix setting
$prefix: (
	1: xs,
	2: sm,
	3: md,
	4: lg
);

// class name
$class-name: (
	1: center,
	2: left,
	3: right,
	4: justify
);

// style generation
@for $i from 1 through 4 {
	@if map-get($breakpoint, $i) == none {
		@for $j from 1 through 4 {
			.txt-#{map-get($prefix, $i)}-#{map-get($class-name, $j)} {
				text-align: #{map-get($class-name, $j)}
			}
		}
	} @else {
		@media screen and(min-width: #{map-get($breakpoint, $i)}) {
			@for $j from 1 through 4 {
				.txt-#{map-get($prefix, $i)}-#{map-get($class-name, $j)} {
					text-align: #{map-get($class-name, $j)}
				}
			}
		}
	}
}

.clearfix{
	clear: both;
}
.flex-btw-center{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.google-maps {
	position: relative;
	padding-bottom: 35%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	margin-bottom: 70px;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.read_more{
	margin-top: 4px;
	display: inline-block;
	line-height: 1;
	margin-right: 10px;
	position: relative;
	span{
		position: absolute;
		right: 0;
		top: 0;
		&:after{
			content: ' ';
			border: 5px solid transparent;
			border-left: 7px solid #ccc;
			display: inline-block;
			position: absolute;
			margin-top: 3px;
			margin-left: 6px;

		}
	}
}
.more{
	margin-top: 4px;
	display: inline-block;
	line-height: 1;
	span{
		margin-right:  8px;
		&:after{
			content: ' ';
			border: 5px solid transparent;
			border-left: 7px solid #ccc;
			display: inline-block;
			position: absolute;
			margin-top: 3px;
			margin-left: 6px;

		}
	}
}
.responsive-img{
	img{
		max-width: 100%;
	}
}
.img{
	margin-bottom: 20px;
}
.sub-title{
	font-size: 18px;
	margin-top:30px;
}