/*****************************
*------- Media 1200px -------*
*****************************/

@media (max-width: 1199px) {
    header {
        .top-action {
            i {
                display: none;
            }
        }
    }
    .advantages {
        display: none;
    }
    .lang {
        max-width: 100px;
    }
}

@media (min-width: 1200px) {
    .container {
        //width: 100% !important;
        //max-width: 1600px !important;
    }
}
