//===============================
//
// LAYOUT FOR FOOTER
//
//===============================
footer{
	background: #cccccc;
	padding: 35px 0px;
	ul{
		padding: 0px;
		li{
			list-style: none;
			font-size: 14px;
			a{
				font-size: 14px;
				color: $color-p;
			}
		}
	}
}