.our_advantages_item{
  text-align: center;
  img{
    max-width: 100%;
  }
  a{
    color: #666666;
    &:hover{
      color: $color-main;
    }
    span{
      display: inline-block;
      margin-top:30px;
    }
  }
}