.comment-flex{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.comment-block{

}
.comment-block-title{
  font-size: 16px;
  color: $color-main;
  font-weight: bold;
  margin-bottom:20px;
}
.comment-link{
  margin-top: 20px;
  display: block;
}
.left-nav-block{
  z-index: 99;
  width: calc(100% - 8px);
  margin-bottom: 15px;
  margin-top: 22px;
  padding: 0;
  padding: 5px 0;
  margin-left:3px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
  ul{
    padding:0px;
    margin:0px;
    li{
      list-style: none;
      a{
        padding: 3px 20px;
        display: inline-block;
        width: 100%;
        color: #333333;
        &:hover{
          background: #f0f0f0;
          color: $color-main;
        }
      }
    }
  }
}